@font-face {
    font-family: 'CenturyGothic';
    src: url('../fonts/SansSerifBldFLF.eot');
    src: url('../fonts/SansSerifBldFLF.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SansSerifBldFLF.svg#SansSerifBldFLF') format('svg'),
         url('../fonts/SansSerifBldFLF.ttf') format('truetype'),
         url('../fonts/SansSerifBldFLF.woff') format('woff'),
         url('../fonts/SansSerifBldFLF.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
  }
  @font-face {
    font-family: 'CenturyGothic';
    src: url('../fonts/SansSerifBookFLF.eot');
    src: url('../fonts/SansSerifBookFLF.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SansSerifBookFLF.svg#SansSerifBookFLF') format('svg'),
         url('../fonts/SansSerifBookFLF.ttf') format('truetype'),
         url('../fonts/SansSerifBookFLF.woff') format('woff'),
         url('../fonts/SansSerifBookFLF.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'CenturyGothic';
    src: url('../fonts/SansSerifFLF.eot');
    src: url('../fonts/SansSerifFLF.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SansSerifFLF.svg#SansSerifFLF') format('svg'),
         url('../fonts/SansSerifFLF.ttf') format('truetype'),
         url('../fonts/SansSerifFLF.woff') format('woff'),
         url('../fonts/SansSerifFLF.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
  }
  

  @font-face {
     font-family: 'FuturaDemiBold';
     src: url('../fonts/OPTIFuturaDemiBold.eot');
     src: url('../fonts/OPTIFuturaDemiBold.eot?#iefix') format('embedded-opentype'),
          url('../fonts/OPTIFuturaDemiBold.svg#OPTIFuturaDemiBold') format('svg'),
          url('../fonts/OPTIFuturaDemiBold.ttf') format('truetype'),
          url('../fonts/OPTIFuturaDemiBold.woff') format('woff'),
          url('../fonts/OPTIFuturaDemiBold.woff2') format('woff2');
     font-weight: normal;
     font-style: normal;
   }